body {
	background-image: url(galeria/background.jpg)
	
}


.header {
    font-family: 'Oldenburg', cursive;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;

    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
/*.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:220px;
    width:120px;
    float:left;
    padding:5px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align:center;
}*/




.menu ul, ul li {
	display: block;
	list-style: none;
	float:center;
    padding:5px;
	
}

.menu ul {
	position: absolute; 
	float:center; /**/
}

.menu ul li {
	float: center;
	
	border-color: transparent #25b #25b #9ce;
}

.menu ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 125px;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: #27c;
	color: #def;
	border-top: 10px solid #25b;
	 border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px; 
	float:center; /**/
}

.menu ul a:hover {
	background-color: #28e;
	color: #fff;
	border-top: 20px solid #26d;
	float:center; /**/

}


.section {
	
    background-color:white;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
    /*width:350px;
    float:left;*/
    padding:10px;
    text-align:center;
    width: 75%;
    margin-left: auto;
margin-right: auto;
  
}
.zrodlo {
text-align:right;
padding:10px;
}
.lista {
text-align:left;
}
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:2px;
}

.tabela td {
   border: 1px solid black;
   padding: 5px;
}
